
@import '../../scss/base.scss';
@import '../../scss/colors.scss';
@import '../../scss/text.scss';
@import '../../scss/icons.scss';
@import '../../scss/screens.scss';



.header {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 10rem;
    top: 0;
    text-align: left;
    background-color: $clr-base-white;
    padding-top: 5rem;

    @include for_small_screen {    
        @include animated;
    }

    &__mobile {
        height: 100vh;
    }

    &__wrapper {
        width: 100%;
        display: block;
        padding-bottom: 2rem;
        border-bottom: 1px solid $clr-gray-main;
    }

    &__mobile_toogle {
        position: absolute;
        top: 0;
        right: 2rem;
        width: 3rem;
        height: 3rem;
        @include icon-lvl-4;
        border: none;
        color: $clr-base-black;
        text-align: center;
        @include animated;
        cursor: pointer;
    
        @include for_not_small_screen {    
            display: none;
        }
    }
}



.logo {
    display: inline-block;
    color: $clr-base-black;
    @include text-medium-lvl-4;
    vertical-align: top;
    position: relative;
    padding-left: 4rem;

    &:hover, &:focus, &:active {
        color: $clr-base-black;
        text-decoration: none;
    }

    &__image {
        display: inline-block;
        position: absolute;
        height: 3rem;
        width: 3rem;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
    }
}



.nav {
    height: auto;
    vertical-align: top;

    &:hover {
        .nav__item__link {
            color: $clr-gray-darken;

            &:hover {
                color: $clr-base-black;
            }
        }
    }

    &__desktop {
        display: none;

        @include for_not_small_screen {
            display: inline-block;
            margin-left: 20rem;
        }
    }

    &__mobile {
        display: none;
        width: 100%;

        @include for_not_small_screen {
            display: none;
        }

        &_active {
            display: inline-block;
            margin-top: 10rem;
        }
    }

    &__item {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 4rem;

        @include for_not_small_screen {    
            width: auto;
            margin-right: 4rem;
            margin-bottom: 0px;

            &:nth-last-child(1) {
                margin-right: 0;
            }
        }

        &__link {
            display: inline-block;
            color: $clr-base-black;
            @include animated;
            @include text-medium-lvl-4;

            &:hover {
                color: $clr-base-black;
                text-decoration: none;
            }

            &__active {
                color: $clr-blue-main;
                text-decoration: none;
            }
        }
    }
}
