
@import '../../scss/base.scss';
@import '../../scss/colors.scss';
@import '../../scss/text.scss';
@import '../../scss/screen.scss';



.header {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 10rem;
    top: 0;
    text-align: left;
    background-color: $clr_base_white;
    padding-top: 3rem;

    @include for_small_screen {    
        @include animated;
    }

    &__mobile {
        height: 100vh;
    }

    &__wrapper {
        width: 100%;
        display: block;
        padding-bottom: 2rem;
        border-bottom: 1px solid $clr_gray_main;
    }

    &__mobile_toogle {
        position: absolute;
        top: 12px;
        right: 2rem;
        width: 3rem;
        height: 3rem;
        @include icon_lvl_4;
        border: none;
        color: $clr_base_black;
        text-align: center;
        @include animated;
        cursor: pointer;
    
        @include for_not_small_screen {    
            display: none;
        }
    }
}



.name {
    display: inline-block;
    vertical-align: top;

    &:hover, &:focus, &:active {
        text-decoration: none;
    }

    &__title {
        display: block;
        @include headline_lvl_6;
        color: $clr_base_black;
    }

    &__description {
        display: block;
        @include text_regular_lvl_5;
        color: $clr_black_light;
    }
}



.nav {
    height: auto;
    vertical-align: top;

    &:hover {
        .nav__item__link {
            color: $clr_gray_darken;

            &:hover {
                color: $clr_base_black;
            }
        }
    }

    &__desktop {
        display: none;

        @include for_not_small_screen {
            display: inline-block;
            margin-left: 10rem;
            margin-bottom: 1rem;
            vertical-align: bottom;
        }
    }

    &__mobile {
        display: none;
        width: 100%;

        @include for_not_small_screen {
            display: none;
        }

        &_active {
            display: inline-block;
            margin-top: 5rem;
        }
    }

    &__item {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 3rem;

        @include for_not_small_screen {    
            width: auto;
            margin-right: 4rem;
            margin-bottom: 0px;

            &:nth-last-child(1) {
                margin-right: 0;
            }
        }

        &__link {
            display: inline-block;
            color: $clr_base_black;
            @include animated;
            @include text_medium_lvl_4;

            &:hover {
                color: $clr_base_black;
                text-decoration: none;
            }

            &__active {
                color: $clr_blue_main;
                text-decoration: none;
            }
        }
    }
}
