@import "pbstyles/styles/scss";

.header {
  display: block;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  text-align: left;
  background-color: $color_white;
  border-bottom: 1px solid $color_blue_gray_50;
  padding: 2rem 0px;

  @include sm {
    @include animated;
  }

  &__mobile {
    height: 100vh;
  }

  &__wrapper {
    width: 100%;
    display: block;
  }

  &__mobile_toogle {
    position: absolute;
    top: 6px;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    @include t3;
    border: none;
    color: $color_black;
    text-align: center;
    @include animated;
    cursor: pointer;

    @include desktop {
      display: none;
    }
  }
}

.name {
  display: inline-block;
  vertical-align: top;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &__title {
    display: block;
    @include h4;
    color: $color_black;
  }

  &__description {
    display: block;
    @include t4;
    color: $color_blue_gray_400;
  }
}

.nav {
  height: auto;
  vertical-align: top;

  &:hover {
    .nav__item__link {
      color: $color_blue_gray_400;

      &:hover {
        color: $color_black;
      }
    }
  }

  &__desktop {
    display: none;

    @include desktop {
      display: inline-block;
      margin-left: 10rem;
      margin-bottom: 1rem;
      vertical-align: bottom;
    }
  }

  &__mobile {
    display: none;
    width: 100%;

    @include desktop {
      display: none;
    }

    &_active {
      display: inline-block;
      margin-top: 5rem;
    }
  }

  &__item {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;

    @include desktop {
      width: auto;
      margin-right: 4rem;
      margin-bottom: 0px;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }

    &__link {
      display: inline-block;
      color: $color_black;
      @include animated;
      @include tm3;

      &:hover {
        color: $color_black;
        text-decoration: none;
      }

      &__active {
        color: $color_blue_accent_400;
        text-decoration: none;
      }
    }
  }
}
