@import 'prosazhin-base-styles';



.tabs {
    display: block;
    width: 100%;

    &__links {
        display: inline-block;
        width: auto;
        padding-bottom: 1rem;
        margin-right: 2rem;
        color: $black;
        @include text_medium_lvl_3;
        @include animated;
        text-decoration: none;

        &:nth-last-child(1) {
            margin-right: 0;
        }

        &:hover, &:focus, &:active {
            color: $blue_a700;
            text-decoration: none;
        }

        &_active {
            color: $blue_a700;
            box-shadow: 0px 2px 0px 0px $blue_a700;
        }
    }
}
