@import "pbstyles/styles/scss";

.tabs {
  display: block;
  width: 100%;

  &__links {
    display: inline-block;
    width: auto;
    padding-bottom: 1rem;
    margin-right: 2rem;
    color: $color_black;
    @include tm3;
    @include animated;
    text-decoration: none;
    cursor: pointer;

    &:nth-last-child(1) {
      margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color_blue_accent_400;
      text-decoration: none;
    }

    &_active {
      color: $color_blue_accent_400;
      box-shadow: 0px 2px 0px 0px $color_blue_accent_400;
    }
  }
}
