
@import '../../styles/variables.scss';



.container {
    display: inline-block;
    width: 100%;
    margin-bottom: 10rem;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: auto;
        height: 2px;
        margin: auto;
        background-color: $clr-gray-EEEEEE;
        z-index: -1;
        margin-left: -20%;
        margin-right: -20%;
    }
}

.tabs {
    display: inline-block;
    width: auto;
    text-align: center;
    background-color: $clr-gray-EEEEEE;
    border-radius: 1000px;
    box-shadow: 0px 0px 0px 4px $clr-white;

    &__links {
        display: inline-block;
        width: auto;
        font-size: 2rem;
        line-height: 4rem;
        font-weight: $font-semi-bold;
        padding: 0 4rem;
        color: $clr-gray-999999;

        &:hover, &:focus, &:active {
            color: $clr-gray-999999;
        }

        &_active {
            color: $clr-white;
            background-color: $clr-blue;
            box-shadow: 0px 0px 0px 4px $clr-white;
            border-radius: 1000px;

            &:hover, &:focus, &:active {
                color: $clr-white;
                background-color: $clr-blue;
            }
        }
    }
}
