
$font_family: 'Inter', sans-serif;
$font_normal: 400;
$font_semi_bold: 600;
$font_bold: 700;



@mixin animated {
    transition: all .2s ease-in-out;
}



@mixin radius_0 {
    border-radius: 0px;
}

@mixin radius_4 {
    border-radius: 4px;
}

@mixin radius_6 {
    border-radius: 6px;
}

@mixin radius_8 {
    border-radius: 8px;
}

@mixin radius_12 {
    border-radius: 12px;
}

@mixin radius_16 {
    border-radius: 16px;
}

@mixin radius_24 {
    border-radius: 24px;
}
