
$clr-base-white: #ffffff;
$clr-base-black: #111111;

$clr-gray-lighter: #FAFAFA;
$clr-gray-light: #F3F3F3;
$clr-gray-main: #EEEEEE;
$clr-gray-dark: #CCCCCC;
$clr-gray-darken: #999999;

$clr-black-light: #777777;
$clr-black-main: #555555;
$clr-black-dark: #333333;

$clr-blue-lighter: #EBF4FF;
$clr-blue-light: #80BAFF;
$clr-blue-main: #0076FF;
$clr-blue-dark: #0053B4;

$clr-red-lighter: #FFEFED;
$clr-red-light: #FE988E;
$clr-red-main: #FD311D;
$clr-red-dark: #CB1300;

$clr-green-lighter: #EBFBF1;
$clr-green-light: #80E7A9;
$clr-green-main: #00C14D;
$clr-green-dark: #00993D;

$clr-yellow-lighter: #FEFBE7;
$clr-yellow-light: #F6E766;
$clr-yellow-main: #EFD700;
$clr-yellow-dark: #D7C100;
