
$clr_base_white: #ffffff;
$clr_base_black: #111111;

$clr_gray-_lighter: #FAFAFA;
$clr_gray_light: #F3F3F3;
$clr_gray_main: #EEEEEE;
$clr_gray_dark: #CCCCCC;
$clr_gray_darken: #999999;

$clr_black_light: #777777;
$clr_black_main: #555555;
$clr_black_dark: #333333;

$clr_blue_lighter: #EBF4FF;
$clr_blue_light: #80BAFF;
$clr_blue_main: #0076FF;
$clr_blue_dark: #0053B4;

$clr_red_lighter: #FFEFED;
$clr_red_light: #FE988E;
$clr_red_main: #FD311D;
$clr_red_dark: #CB1300;

$clr_green_lighter: #EBFBF1;
$clr_green_light: #80E7A9;
$clr_green_main: #00C14D;
$clr_green_dark: #00993D;

$clr_yellow_lighter: #FEFBE7;
$clr_yellow_light: #F6E766;
$clr_yellow_main: #EFD700;
$clr_yellow_dark: #D7C100;
