@import 'prosazhin-base-styles/styles.scss';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none !important;
    outline: none !important;
}

html {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 8px;
}

body {
    width: 100%;
    height: auto;
    position: relative;
    color: $black;
    background-color: $white;
    font-family: $font_family;
    @include text_regular_lvl_3;
    overflow: auto;
}

a {
    color: $blue_a700;
    text-decoration: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;

    &:active,
    &:focus {
        color: $blue_a700;
    }

    &:hover {
        color: $red_a200;
        text-decoration: underline;
    }
}
