
@import './base.scss';



@mixin headline-lvl-1 {
    font-style: normal;
    font-weight: $font-bold;
    font-size: 80px;
    line-height: 88px;
}

@mixin headline-lvl-2 {
    font-style: normal;
    font-weight: $font-bold;
    font-size: 64px;
    line-height: 72px;
}

@mixin headline-lvl-3 {
    font-style: normal;
    font-weight: $font-bold;
    font-size: 48px;
    line-height: 56px;
}

@mixin headline-lvl-4 {
    font-style: normal;
    font-weight: $font-bold;
    font-size: 32px;
    line-height: 40px;
}

@mixin headline-lvl-5 {
    font-style: normal;
    font-weight: $font-bold;
    font-size: 24px;
    line-height: 32px;
}

@mixin headline-lvl-6 {
    font-style: normal;
    font-weight: $font-bold;
    font-size: 20px;
    line-height: 28px;
}
