
$scr-xl: 1441px;
$scr-l-max: 1440px;
$scr-l-min: 921px;
$scr-m-max: 920px;
$scr-m-min: 769px;
$scr-s: 768px;



@mixin for_big_screen {
    @media all and (min-width: $scr-xl) {
        @content;
    }
}

@mixin for_large_screen {
    @media all and (min-width: $scr-l-min) and (max-width: $scr-l-max) {
        @content;
    }
}

@mixin for_middle_screen {
    @media all and (min-width: $scr-m-min) and (max-width: $scr-m-max) {
        @content;
    }
}

@mixin for_small_screen {
    @media all and (max-width: $scr-s) {
        @content;
    }
}

@mixin for_not_small_screen {
    @media all and (min-width: $scr-m-min) {
        @content;
    }
}
