
@import './base.scss';
@import './screen.scss';





@mixin headline_lvl_1 {
    font-style: normal;
    font-weight: $font_bold;
    font-size: 32px;
    line-height: 40px;

    @include for_not_small_screen {
        font-size: 48px;
        line-height: 64px;
    }
}

@mixin headline_lvl_2 {
    font-style: normal;
    font-weight: $font_bold;
    font-size: 32px;
    line-height: 40px;
}

@mixin headline_lvl_3 {
    font-style: normal;
    font-weight: $font_bold;
    font-size: 24px;
    line-height: 32px;
}

@mixin headline_lvl_4 {
    font-style: normal;
    font-weight: $font_bold;
    font-size: 20px;
    line-height: 24px;
}





@mixin text_regular_lvl_1 {
    font-style: normal;
    font-weight: $font_normal;
    font-size: 24px;
    line-height: 36px;
}

@mixin text_regular_lvl_2 {
    font-style: normal;
    font-weight: $font_normal;
    font-size: 20px;
    line-height: 28px;
}

@mixin text_regular_lvl_3 {
    font-style: normal;
    font-weight: $font_normal;
    font-size: 16px;
    line-height: 24px;
}

@mixin text_regular_lvl_4 {
    font-style: normal;
    font-weight: $font_normal;
    font-size: 12px;
    line-height: 16px;
}





@mixin text_medium_lvl_1 {
    font-style: normal;
    font-weight: $font_semi_bold;
    font-size: 24px;
    line-height: 36px;
}

@mixin text_medium_lvl_2 {
    font-style: normal;
    font-weight: $font_semi_bold;
    font-size: 20px;
    line-height: 28px;
}

@mixin text_medium_lvl_3 {
    font-style: normal;
    font-weight: $font_semi_bold;
    font-size: 16px;
    line-height: 24px;
}

@mixin text_medium_lvl_4 {
    font-style: normal;
    font-weight: $font_semi_bold;
    font-size: 12px;
    line-height: 16px;
}





@mixin icon_lvl_1 {
    font-style: normal;
    font-weight: $font_normal;
    font-size: 24px;
    line-height: 36px;
}

@mixin icon_lvl_2 {
    font-style: normal;
    font-weight: $font_normal;
    font-size: 20px;
    line-height: 28px;
}

@mixin icon_lvl_3 {
    font-style: normal;
    font-weight: $font_normal;
    font-size: 16px;
    line-height: 24px;
}

@mixin icon_lvl_4 {
    font-style: normal;
    font-weight: $font_normal;
    font-size: 12px;
    line-height: 16px;
}
