
.tags {
    display: block;
    text-align: left;

    &__item {
        display: inline-block;
        text-align: left;
        margin-right: 0.5rem;

        &:nth-last-child(1) {
            margin-right: 0;
        }
    }
}
