.tags {
  display: flex;
  width: auto;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;

  &__item {
    display: inline-flex;
    align-items: center;
    text-align: left;
    margin-right: 0.5rem;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
