{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "^(next)|(next/(.*))$",
    "^(react)|(react/(.*))$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/types/(.*)$",
    "^@/lib/(.*)$",
    "^@/styles/(.*)$",
    "^@/svgs/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"]
}
