@import "pbstyles/styles/scss";

.wrapper {
  display: flex;
  width: auto;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  display: inline-flex;
  width: auto;
  @include tm4;
  margin-right: 0.5rem;
  color: $color_black;
  border-radius: $radius_sm;
  background-color: $color_secondary_lighter;
  padding: 0.5rem 1rem;
  align-items: center;
  user-select: none;
  cursor: pointer;
  text-decoration: none !important;

  &:hover {
    color: $color_primary_main;
    text-decoration: none !important;
    background-color: $color_blue_50;
  }

  &__title {
    text-decoration: none !important;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
}
