
@import '../../scss/base.scss';
@import '../../scss/colors.scss';
@import '../../scss/text.scss';
@import '../../scss/screen.scss';



.card {
    display: block;
    width: 100%;
    background-color: $clr_base_white;
    border: 1px solid $clr_gray_dark;
    padding: 3rem;
    word-wrap: break-word;
    overflow: hidden;
    position: relative;
    user-select: none;
    @include radius_24;
    @include animated;

    &:hover {
        border-color: $clr_blue_main;
        
        .card__headline, .card__description {
            color: $clr_blue_main;
        }
    }

    &__state_big_size {
        @include for_not_small_screen {    
            grid-column: 1/3;
        }
    }

    &__headline {
        display: inline-block;
        width: 100%;
        color: $clr_base_black;
        @include headline_lvl_5;
        @include animated;

        &__state_big_size {
            @include headline_lvl_4;
        }
    }
    
    &__description {
        display: inline-block;
        width: 100%;
        color: $clr_base_black;
        @include text_regular_lvl_4;
        @include animated;
        margin-top: 1rem;

        &__state_big_size {
            @include for_not_small_screen {    
                @include text_regular_lvl_3;
            }
        }
    }

    &__tags {
        display: inline-block;
        width: 100%;
        margin-top: 2rem;
    }
}
