@import 'pbstyles/styles/scss';

.wrapper {
  display: inline-block;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4.5rem;
}

.social_link {
  margin-top: 2.5rem;
}

.date {
  display: inline-block;
  width: 100%;
  @include text_4;
  color: $color_palette_blue_gray_400;
  margin-top: 1rem;
}

.tabs {
  margin-bottom: 4rem;
}

.content {
  display: block;
  width: 100%;

  &__first_type {
    margin-top: 2rem;
  }

  &__image {
    display: block;
    width: 100%;

    &__description {
      display: inline-block;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 4rem;
      @include text_3;
      color: $color_palette_blue_gray_400;
      text-align: center;
    }
  }

  &__heading {
    display: inline-block;
    width: 100%;
    @include text_2;
    margin-bottom: 1rem;
  }

  &__paragraph {
    display: inline-block;
    width: 100%;
    @include text_3;
    margin-bottom: 4rem;

    &_above {
      margin-bottom: 2rem;
    }
  }

  &__code {
    display: inline-block;
    width: 100%;
    @include text_3;
    margin-bottom: 4rem;
    background-color: $color_palette_gray_50;
    border-radius: $size_radius_2;
    padding: 2rem;
    white-space: pre-wrap;
  }

  &__blockquote {
    display: inline-block;
    width: 100%;
    margin-bottom: 4rem;

    &__item {
      display: inline-block;
      width: 100%;
      margin-bottom: 1rem;
      @include text_2;
      text-decoration: underline;
      color: $color_palette_blue_gray_400;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &__list {
    display: block;
    width: auto;
    margin-bottom: 4rem;
    padding-left: 3rem;

    &_above_paragraph {
      margin-bottom: 2rem;
    }

    &_ordered,
    &_ordered li {
      list-style-type: decimal !important;
      list-style-position: outside;
    }

    &_unordered,
    &_unordered li {
      list-style-type: disc !important;
      list-style-position: outside;
    }

    &__item {
      width: 100%;
      margin-bottom: 1rem;
      @include text_3;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &__last_type {
    margin-bottom: 0px;
  }
}
