@import "pbstyles/styles/scss";

.headline {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 10rem;
  margin-bottom: 2rem;
  color: $color_black;

  &__lvl_1 {
    @include h1;
  }

  &__lvl_2 {
    @include h2;
  }

  &__lvl_3 {
    @include h3;
  }

  &__lvl_4 {
    @include h4;
  }

  &__no_margin_top {
    margin-top: 0px;
  }
}
