
@import '../../scss/colors.scss';
@import '../../scss/headline.scss';
@import '../../scss/screens.scss';



.headline {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: $clr-base-black;
    @include headline-lvl-3;

    @include for_not_small_screen {    
        margin-top: 10rem;
    }
}
