@import 'pbstyles/styles/scss';

.post_info_bar {
  display: block;
  width: 100%;
  margin-top: 3rem;

  &__inline_wrapper {
    display: inline-flex;
    width: 100%;
    align-items: center;
  }

  &__tags {
    display: inline-flex;
    width: auto;
    align-items: center;
  }

  &__social_link {
    width: auto;
    margin-left: 1rem;
  }

  &__date {
    display: inline-block;
    width: auto;
    @include text_4;
    color: $color_palette_blue_gray_400;
    text-decoration: none !important;
    text-align: left;
    margin-top: 1rem;
  }
}
