@import 'prosazhin-base-styles/styles.scss';



.links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 3rem;

    @include for_not_small_screen {    
        grid-template-columns: repeat(auto-fit, minmax(211px, 1fr));
    }
}
