@import "pbstyles/styles/scss";

.links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 3rem;

  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(211px, 1fr));
  }
}
