
@import '../../styles/variables.scss';



.container {
    display: block;
    width: 100%;
    margin: auto;
    position: relative;
    text-align: inherit;
    padding: 0px 2rem;

    @media all and (min-width: $scr-md-min) and (max-width: $scr-md-max) {
        padding: 0px 6rem;
    }

    @media all and (min-width: $scr-xl) {
        padding: 0px 10rem;
    }
}

.main {
    width: 100vw;
    margin-top: 20rem;
    z-index: 20;
    overflow: hidden;
}
