
@import '../../scss/screens.scss';



.container {
    display: block;
    margin: auto;
    position: relative;
    text-align: inherit;
    overflow: hidden;
}

.container__size_normal {
    width: 100%;
    padding: 0px 2rem;

    @include for_middle_screen {    
        width: 736px;
        padding: 0px;
    }

    @include for_large_screen {    
        width: 80%;
        padding: 0px;
    }

    @include for_big_screen {    
        width: 1152px;
        padding: 0px;
    }
}

.container__size_small {
    width: 736px;

    @include for_small_screen {    
        width: 100%;
    }
}

.main {
    margin-top: 10rem;
    margin-bottom: 10rem;
}
