
@import '../../scss/screen.scss';



.container {
    display: block;
    position: relative;
    text-align: inherit;
    overflow: hidden;
}

.container__size_normal {
    width: 100%;
    margin: auto;
    padding: 0px 2rem;

    @include for_middle_screen {    
        width: 736px;
        margin: auto;
        padding: 0px;
    }

    @include for_large_screen {    
        width: 80%;
        margin: auto;
        padding: 0px;
    }

    @include for_big_screen {    
        width: 1152px;
        margin: auto;
        padding: 0px;
    }
}

.container__size_small {
    width: 100%;
    margin: auto;
    padding: 0px 2rem;

    @include for_not_small_screen {
        width: 736px;
        margin: auto;
        padding: 0px;
    }
}

.main {
    margin-top: 9rem;
    margin-bottom: 10rem;
    padding-top: 6rem;
}
