
@import '../../styles/variables.scss';



.selection {
    display: block;
    width: 100%;
    background-color: $clr-gray-F3F3F3;
    border-radius: 4px;
    padding: 4rem;
    word-wrap: break-word;
    overflow: hidden;
    transition: all .2s ease;
    position: relative;
    user-select: none;

    @media all and (min-width: $scr-md-min) and (max-width: $scr-md-max) {
        padding: 4rem 6rem;
    }

    @media all and (min-width: $scr-xl) {
        padding: 4rem 6rem;
    }

    &:hover {
        .headline {
            color: $clr-blue;
        }

        .description {
            color: $clr-blue;
        }

        .count {
            color: $clr-black;
        }
    }

    &:active,
    &:focus {
        color: $clr-black;
    }

    &_size_big {
        padding: 4rem;

        @media all and (min-width: $scr-md-min) and (max-width: $scr-md-max) {
            grid-column: 1/3;
            padding: 6rem 8rem;
        }
    
        @media all and (min-width: $scr-xl) {
            grid-column: 1/3;
            padding: 6rem 8rem;
        }
    }
}

.headline {
    display: inline-block;
    width: 100%;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: $font-bold;
    color: $clr-black;
    transition: all .2s ease;

    &_size_big {
        font-size: 4rem;
        line-height: 5rem;

        @media all and (min-width: $scr-md-min) and (max-width: $scr-md-max) {
            font-size: 6rem;
            line-height: 7rem;
        }
    
        @media all and (min-width: $scr-xl) {
            font-size: 6rem;
            line-height: 7rem;
        }
    }
}

.description {
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: $font-normal;
    margin-top: 2rem;
    color: $clr-gray-555555;
    transition: all .2s ease;

    &_size_big {
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 2rem;

        @media all and (min-width: $scr-md-min) and (max-width: $scr-md-max) {
            font-size: 4rem;
            line-height: 6rem;
        }
    
        @media all and (min-width: $scr-xl) {
            font-size: 4rem;
            line-height: 6rem;
        }
    }
}

.bottom {
    display: inline-block;
    width: 100%;
    margin-top: 2rem;

    @media all and (min-width: $scr-md-min) and (max-width: $scr-md-max) {
        margin-top: 6rem;
    }

    @media all and (min-width: $scr-xl) {
        margin-top: 6rem;
    }
}

.count {
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: $font-normal;
    color: $clr-gray-999999;
    transition: all .2s ease;
    margin-right: 4rem;

    @media all and (min-width: $scr-md-min) and (max-width: $scr-md-max) {
        width: auto;
    }

    @media all and (min-width: $scr-xl) {
        width: auto;
    }
}

.tags {
    display: inline-block;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: -1rem;

    @media all and (min-width: $scr-md-min) and (max-width: $scr-md-max) {
        width: auto;
        margin-top: 0;
    }

    @media all and (min-width: $scr-xl) {
        width: auto;
        margin-top: 0;
    }

    &__item {
        display: inline-block;
        text-align: left;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
