
@import '../../scss/colors.scss';
@import '../../scss/text.scss';
@import '../../scss/base.scss';



.tags {
    margin-top: 5rem;
}

.date {
    display: inline-block;
    width: 100%;
    @include text_regular_lvl_4;
    color: $blue_gray_400;
}
