@import 'prosazhin-base-styles/styles.scss';



.wrapper {
    display: block;
    width: 100%;
    padding-bottom: 5rem;
    background-color: $white;
    border-top: 1px solid $blue_gray_50;
}

.footer {
    display: block;
    width: 100%;
    padding-top: 3rem;
}

.copyright {
    display: inline-block;
    width: 100%;
    margin-top: 2rem;
    color: $black;
    @include text_regular_lvl_3;
}

.contacts {
    display: inline-block;
    width: 100%;
    @include text_medium_lvl_3;

    &__item {
        display: inline-block;
        margin-right: 4rem;

        &:nth-last-child(1) {
            margin-right: 0;
        }

        @include for_small_screen {    
            width: 100%;
            margin: 0;
            margin-bottom: 1rem;

            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }
}
