
@import '../../scss/colors.scss';
@import '../../scss/text.scss';
@import '../../scss/base.scss';
@import '../../scss/screen.scss';



.blog {
    display: block;
    width: 100%;
    padding: 2rem 3rem;
    margin-top: 4rem;
    background-color: $clr-blue-lighter;
    color: $clr-base-black;
    @include text_regular_lvl_1;
    @include radius_24;

    @include for_not_small_screen {
        padding: 3rem 4rem;
        margin-top: 6rem;
    }
}
