@import 'prosazhin-base-styles';



.section {
    display: block;
    width: 100%;
    margin-bottom: 6rem;

    &:nth-of-type(1) {
        margin-top: 10rem;
    }

    &:nth-of-type(4) {
        margin-bottom: 0;
    }

    &__description {
        display: inline-block;
        width: 100%;
        @include text_regular_lvl_2;

        &_title {
            @include text_medium_lvl_2;
            margin-bottom: 0.5rem;
            margin-top: 2rem;
        }
    }
}



.road {
    display: block;
    width: 100%;
    margin-top: 1rem;

    &__item {
        display: block;
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 4rem;
        border-bottom: 1px solid $blue_gray_100;

        &:first-child {
            padding-top: 0px;
        }
    
        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &__title {
        display: block;
        width: 100%;
        color: $black;
        @include headline_lvl_2;
        margin-bottom: 1rem;
    }

    &__date {
        display: block;
        width: 100%;
        color: $blue_gray_400;
        @include text_regular_lvl_3;
        margin-bottom: 1rem;
    }

    &__position {
        display: block;
        width: 100%;
        color: $black;
        @include text_medium_lvl_2;
        margin-bottom: 0.5rem;
    }

    &__description {
        display: block;
        width: 100%;
        color: $black;
        @include text_regular_lvl_3;
    }
}



.competencies {
    display: block;
    width: 100%;
    background-color: $gray_50;
    @include radius_16;
    padding: 2rem 3rem;
    margin-top: 6rem;

    &__link {
        display: block;
        width: 100%;
        position: relative;
        padding-right: 6rem;
    }

    &__icon {
        display: block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
    }

    &__title {
        display: inline-block;
        width: 100%;
        @include headline_lvl_3;
        margin-bottom: 0,5rem;
        color: $black;
    }

    &__description {
        display: inline-block;
        width: 100%;
        @include text_regular_lvl_3;
        color: $black;
    }
}
