@import 'pbstyles/styles/scss';

.tabs {
  margin-bottom: 5rem;
}

.section {
  display: block;
  width: 100%;
  margin-bottom: 6rem;

  &:nth-of-type(1) {
    margin-top: 6rem;
  }

  &:nth-of-type(5) {
    margin-bottom: 0;
  }

  &__description {
    display: inline-block;
    width: 100%;
    @include text_2;

    &_title {
      @include text_2;
      font-weight: $font_weight_medium;
      margin-bottom: 0.5rem;
      margin-top: 2rem;
    }
  }
}
