
@import '../../scss/colors.scss';
@import '../../scss/text.scss';
@import '../../scss/screen.scss';



.section {
    display: block;
    width: 100%;
    margin-bottom: 5rem;

    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    &__description {
        display: inline-block;
        width: 100%;
        @include text_regular_lvl_2;

        &_title {
            color: $clr_gray_dark;
            margin-top: 2rem;
        }
    }
}



.road {
    display: block;
    width: 100%;
    position: relative;

    &__item {
        display: block;
        width: 100%;
        position: relative;
        margin-bottom: 3rem;

        @include for_not_small_screen {
            margin-bottom: 4rem;
            padding-left: 6rem;

            &::before {
                content: '';
                position: absolute;
                top: 12px;
                left: 7px;
                width: 2px;
                height: 100%;
                background-color: $clr_gray_main;
            }
    
            &::after {
                content: '';
                position: absolute;
                bottom: -44px;
                left: 7px;
                width: 2px;
                height: 4rem;
                background-color: $clr_gray_main;
            }
    
            &:nth-last-child(1) {
                &::before, &::after {
                    content: none;
                }
            }
        }

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }

    &__icon {
        position: absolute;
        top: 12px;
        left: 0;
        width: 2rem;
        height: 2rem;
        background-color: $clr_gray_main;
        border-radius: 100%;

        &_state_active {
            background-color: $clr_blue_main;
        }

        @include for_small_screen {
            display: none;
        }
    }

    &__title {
        display: block;
        width: 100%;
        color: $clr_base_black;
        @include headline_lvl_4;
        margin-bottom: 1rem;
    }

    &__date {
        display: block;
        width: 100%;
        color: $clr_gray_darken;
        @include text_regular_lvl_4;
    }

    &__description {
        display: block;
        width: 100%;
        color: $clr_base_black;
        @include text_regular_lvl_4;
    }
}
