@import "pbstyles/styles/scss";

.headline {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.title {
  display: inline-block;
  width: 100%;
  color: $color_black;
  @include h1;

  & + .description {
    margin-top: 2rem;
  }
}

.description {
  display: inline-block;
  width: 100%;
  color: $color_black;
  @include t1;

  p {
    display: inline-block;
    width: 100%;

    & + p {
      margin-top: 2rem;

      @include desktop {
        margin-top: 3rem;
      }
    }

    br {
      display: none;

      @include desktop {
        display: inline-block;
      }
    }

    strong {
      @include t1;
    }
  }
}
