@import "pbstyles/styles/scss";

.projects {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: 4rem;
  row-gap: 6rem;
  align-content: flex-start;

  @include desktop {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.project {
  display: inline-block;
  width: 100%;

  &__xs,
  &__s {
    .project__link {
      background-color: $color_base_lightest;
      border-radius: $radius_md;
      padding: 2rem 3rem;
    }

    .project__description {
      min-height: 6rem;
    }
  }

  &__xs {
    grid-column: span 6 / span 6;

    @include desktop {
      grid-column: span 2 / span 2;
    }
  }

  &__s {
    grid-column: span 6 / span 6;

    @include desktop {
      grid-column: span 3 / span 3;
    }
  }

  &__m {
    grid-column: span 6 / span 6;

    @include desktop {
      grid-column: span 3 / span 3;
    }
  }

  &__l {
    grid-column: span 6 / span 6;

    @include desktop {
      grid-column: span 4 / span 4;
    }
  }

  &__xl {
    grid-column: span 6 / span 6;

    @include desktop {
      grid-column: span 6 / span 6;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    text-decoration: none !important;
    @include animated;

    &:hover {
      .project__headline,
      .project__description {
        color: $color_blue_accent_400;
      }

      .project__cover {
        opacity: 1;
      }
    }
  }

  &__cover {
    display: block;
    width: 100%;
    border-radius: $radius_md;
    opacity: 1;
    @include animated;

    &_wrapper {
      background-color: $color_blue_gray_50;
      border-radius: $radius_md;
    }
  }

  &__headline {
    display: inline-block;
    width: 100%;
    @include tm1;
    margin-bottom: 1rem;
    color: $color_black;
    @include animated;
  }

  &__description {
    display: inline-block;
    width: 100%;
    @include t3;
    color: $color_black;
    @include animated;
  }
}
