@import 'pbstyles/styles/scss';

.projects {
  display: block;
  width: 100%;
  margin-top: 3rem;
}

.project {
  display: inline-block;
  width: 100%;
  margin-top: 5rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid $color_palette_blue_gray_100;

  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    padding-bottom: 0px;
    border-bottom: none;
  }

  &__link {
    display: inline-block;
    width: 100%;

    &:hover {
      .project__headline {
        color: $color_palette_blue_accent_400;
      }
    }
  }

  &__cover {
    border-radius: $size_radius_2;
  }

  &__tags {
    display: inline-block;
    width: 100%;
    margin-top: 2rem;
  }

  &__headline {
    display: inline-block;
    width: 100%;
    @include text_1;
    font-weight: $font_weight_medium;
    margin-bottom: 1rem;
    color: $color_palette_black;
  }

  &__date {
    display: inline-block;
    width: 100%;
    @include text_4;
    color: $color_palette_blue_gray_400;
  }
}
