@import 'prosazhin-base-styles';



.tag {
    display: inline-block;
    text-align: left;
    text-decoration: none !important;
    user-select: none;
    height: 3rem;
    padding: 0.5rem 1rem;
    @include text_medium_lvl_4;
    @include radius_6;
    @include animated;
    color: $black;

    &__clickable {
        background-color: $blue_gray_50;
        cursor: pointer;

        &:hover {
            color: $black;
            background-color: $blue_gray_100;
        }

        &_active {
            color: $white;
            background-color: $black;
    
            &:hover,
            &:focus,
            &:active {
                color: $white;
                background-color: $black;
            }
        }
    }

    &__static {
        padding: 0.4rem 1rem;
        border: 1px solid $blue_gray_100;
        cursor: inherit;

        &_active {
            border-color: $black;
        }
    }
}
