
@import '../../scss/base.scss';
@import '../../scss/colors.scss';
@import '../../scss/text.scss';



.tag {
    display: inline-block;
    text-align: left;
    text-decoration: none !important;
    user-select: none;
    height: 3rem;
    padding: 0.5rem 1rem;
    @include text_medium_lvl_5;
    @include radius_6;
    @include animated;
    color: $clr-base-black;

    &__clickable {
        background-color: $clr-gray-light;
        cursor: pointer;

        &:hover {
            color: $clr-blue-main;
            background-color: $clr-blue-lighter;
        }

        &_active {
            color: $clr-base-white;
            background-color: $clr-blue-main;
    
            &:hover,
            &:focus,
            &:active {
                color: $clr-base-white;
                background-color: $clr-blue-main;
            }
        }
    }

    &__static {
        padding: 0.4rem 1rem;
        border: 1px solid $clr-gray-dark;
        cursor: inherit;

        &_active {
            color: $clr-base-white;
            background-color: $clr-blue-main;
            border-color: $clr-blue-main;
        }
    }
}
