
@import '../../styles/variables.scss';

@import '../../scss/base.scss';
@import '../../scss/colors.scss';
@import '../../scss/text.scss';



.tag {
    display: inline-block;
    text-align: left;
    text-decoration: none !important;
    user-select: none;
    padding: 0.5rem 1rem;
    color: $clr-base-black;
    background-color: $clr-gray-light;
    @include text-medium-lvl-5;
    @include radius-6;
    @include animated;
    cursor: pointer;

    &:hover {
        color: $clr-blue-main;
        background-color: $clr-blue-lighter;
    }

    &__active {
        color: $clr-base-white;
        background-color: $clr-blue-main;

        &:hover {
            color: $clr-base-white;
            background-color: $clr-blue-main;
        }
    }
}
