
@import './variables.scss';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none !important;
    outline: none !important;
}

html {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 8px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $clr-white;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: $font-normal;
    color: $clr-black;
}

main {
    display: block;
    width: 100vw;
    margin: auto;
    margin-top: 20rem;
    position: relative;
    z-index: 20;
    overflow: hidden;
    padding: 0px 2rem;

    @media all and (min-width: $scr-md-min) and (max-width: $scr-md-max) {
        padding: 0px 6rem;
    }

    @media all and (min-width: $scr-xl) {
        padding: 0px 10rem;
    }
}



a {
    color: $clr-blue;
    text-decoration: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;

    &:active,
    &:focus {
        color: $clr-blue;
    }

    &:hover {
        color: $clr-red;
        text-decoration: none;
    }
}



.headline-block {
    display: inline-block;
    width: 100%;
    margin-top: 2rem;

    @media all and (min-width: $scr-xl) {
        margin-top: 4rem;
    }

    &:nth-child(1) {
        margin-top: 0;
    }

    br {
        display: none;

        @media all and (min-width: $scr-md-min) and (max-width: $scr-md-max) {
            display: inline-block;
        }

        @media all and (min-width: $scr-xl) {
            display: inline-block;
        }
    }
}
