
@import '../scss/base.scss';
@import '../scss/colors.scss';
@import '../scss/text.scss';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none !important;
    outline: none !important;
}

html {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 8px;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;
    color: $clr_base_black;
    background-color: $clr_base_white;
    font-family: 'Source Sans Pro', sans-serif;
    @include text_regular_lvl_4;
    overflow: auto;
}

a {
    color: $clr_blue_main;
    text-decoration: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;

    &:active,
    &:focus {
        color: $clr_blue_main;
    }

    &:hover {
        color: $clr_red_main;
        text-decoration: underline;
    }
}
