
$clr-opacity: rgba(0,0,0,0);
$clr-white: #ffffff;

$clr-gray-FAFAFA: #FAFAFA;
$clr-gray-F3F3F3: #F3F3F3;
$clr-gray-EEEEEE: #EEEEEE;
$clr-gray-CCCCCC: #CCCCCC;
$clr-gray-999999: #999999;
$clr-gray-555555: #555555;
$clr-black: #333333;

$clr-blue-lighter: #EBF4FF;
$clr-blue-light: #80BAFF;
$clr-blue: #0076FF;
$clr-blue-dark: #0053B4;

$clr-red-lighter: #FFEFED;
$clr-red-light: #FE988E;
$clr-red: #FD311D;
$clr-red-dark: #CB1300;

$clr-green-lighter: #EBFBF1;
$clr-green-light: #80E7A9;
$clr-green: #00CF53;
$clr-green-dark: #00993D;

$clr-yellow-lighter: #FEFBE7;
$clr-yellow-light: #DAF180;
$clr-yellow: #B6E300;
$clr-yellow-dark: #9DC400;

$clr-grayEA: #eaeaea;
$clr-grayAE: #aeaeae;
$clr-grayF9: #f9f9f9;
$clr-grayF7: #f7f7f7;
$clr-grayCE: #cecece;



$font-normal: 400;
$font-semi-bold: 600;
$font-bold: 700;



$scr-xl: 1025px;
$scr-md-max: 1024px;
$scr-md-min: 769px;
$scr-sm-max: 768px;
$scr-sm-min: 320px;

// all and (min-width: $scr-xl)
// all and (min-width: $scr-md-max) and (max-width: $scr-md-min)
// all and (min-width: $scr-sm-max) and (max-width: $scr-sm-min)
// all and (max-width: $scr-sm-min)
