@import 'pbstyles/styles/scss';

.tabs {
  margin-bottom: 5rem;
}

.road {
  display: block;
  width: 100%;
  margin-top: 3rem;

  &__item {
    display: block;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid $color_palette_blue_gray_100;

    &:first-child {
      padding-top: 0px;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__title {
    display: block;
    width: 100%;
    color: $color_palette_black;
    @include headline_2;
    margin-bottom: 1rem;
  }

  &__date {
    display: block;
    width: 100%;
    color: $color_palette_blue_gray_400;
    @include text_3;
    margin-bottom: 1rem;
  }

  &__position {
    display: block;
    width: 100%;
    color: $color_palette_black;
    @include text_2;
    font-weight: $font_weight_medium;
    margin-bottom: 0.5rem;
  }

  &__description {
    display: block;
    width: 100%;
    color: $color_palette_black;
    @include text_3;
  }
}
